
{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid p-0">
    <!-- About-->
    {% for about in abouts %}
    <section class="resume-section" id="about">
        
        <div class="resume-section-content">
            <h1 class="mb-0">
                {{ about.first_name }}
                <span class="text-primary"> {{ about.last_name }}</span>
            </h1>
            <div class="subheading mb-5">
                {{ about.adress }},  · 
                <br>
                <a href="mailto:name@email.com">{{ about.phone }}</a> <br>
                <a href="mailto:name@email.com">{{ about.email }}</a>
               
            </div>
            <p class="lead mb-5">{{ about.details }}</p>
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    {% endfor %}
    <hr class="m-0" />
{% endblock content %}    