 
 {% extends 'main.html' %}
 {% load static %}
 {% block content %}
 <!-- Education-->
 <section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        {% for  edu in  education %}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">

            
            <div class="flex-grow-1">
                <h3 class="mb-0">{{ edu.school_name }}</h3>
                <div class="subheading mb-3">{{edu.major}}</div>
                <div>{{edu.skills}}</div>
                <p>GPA: {{edu.gpa}}</p>
            </div>
            
            <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div>
           
        </div>
        {% endfor %}
        
    </div>
</section>
<hr class="m-0" />

{% endblock content %}  