{% extends 'main.html' %}
{% load static %}
{% block content %}

            <!-- Experience-->
            <section class="resume-section" id="experience">


                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>

                    {% for experience in experiences %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{experience.job_title}}</h3>
                            <div class="subheading mb-3">{{experience.company_name}}</div>
                            <p>{{experience.details}}</p>
                        </div>
                      
                        <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
                    </div>
                    {% endfor %}
                   
                    
                    
                </div>
                



            </section>
            <hr class="m-0" />



{% endblock content %}    


  